<?xml version="1.0"?>
<ruleset>

    <file>./src</file>
    <file>./tests/src</file>
    <file>./tests/unit</file>

    <arg value="sp"/>

    <rule ref="Inpsyde">
        <exclude name="WordPress.WP.EnqueuedResources" />
    </rule>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                    name="psr4"
                    type="array"
                    value="
                        Brain\Assets=>src,
                        Brain\Assets\Tests=>tests/src,
                        Brain\Assets\Tests\Unit=>tests/unit
                    "/>
        </properties>
    </rule>

    <rule ref="Inpsyde.CodeQuality.ForbiddenPublicProperty">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>
    <rule ref="Inpsyde.CodeQuality.FunctionLength">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

</ruleset>

